{layout name="layout2" /}
<div class="layui-form" lay-filter="layui-form" id="layui-form" style="padding: 20px 30px 0 0;">
    <!--品牌名称-->
    <div class="layui-form-item">
        <label class="layui-form-label"><font color="red">*</font>品牌名称</label>
        <div class="layui-input-inline">
            <input type="text" name="name" lay-verify="required" lay-verType="tips" placeholder="请输入品牌名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <!--品牌首字母-->
    <div class="layui-form-item">
        <label class="layui-form-label"><font color="red">*</font>品牌首字母</label>
        <div class="layui-input-inline">
            <select name="initial" id="initial" >
                {foreach $capital as $val}
                <option value="{$val}">{$val}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <!--品牌图片-->
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color:red;">*</span>品牌图片：</label>
        <div class="layui-input-block">
            <div class="like-upload-image">
                <div class="upload-image-elem"><a class="add-upload-image"> + 添加图片</a></div>
            </div>
            <div class="layui-form-mid layui-word-aux">建议尺寸：宽200像素*高200像素的jpg，jpeg，png图片</div>
        </div>
    </div>
    <!--品牌排序-->
    <div class="layui-form-item">
        <label class="layui-form-label">品牌排序</label>
        <div class="layui-input-inline">
            <input type="number"  name="sort" value="255"  placeholder="请输入品牌排序" class="layui-input">
        </div>
    </div>
    <!--是否显示-->
    <div class="layui-form-item">
        <label class="layui-form-label">显示状态</label>
        <div class="layui-input-inline">
            <input type="radio" name="is_show" value="1" title="显示" checked>
            <input type="radio" name="is_show" value="0" title="不显示">
        </div>
    </div>
    <!--品牌描述-->
    <div class="layui-form-item">
        <label class="layui-form-label">品牌描述</label>
        <div class="layui-input-inline">
            <textarea name="remark"  placeholder="请输入品牌描述" class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="add-submit" id="add-submit" value="确认">
    </div>
</div>


<script>
    layui.use(function () {
        like.delUpload();
        $(document).on("click", ".add-upload-image", function () {
            like.imageUpload({
                limit: 1,
                field: "image",
                that: $(this)
            });
        })
    });
</script>
