{layout name="layout2" /}

<div class="layui-card layui-form" style="box-shadow:none;">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red;">*</span>审核状态：</label>
            <div class="layui-input-block">
                <input type="radio" name="audit" value="1" title="审核通过" checked>
                <input type="radio" name="audit" value="2" title="审核拒绝">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red;">*</span>审核说明：</label>
            <div class="layui-input-block">
                <textarea name="explain" class="layui-textarea">{$detail.withdrawal.explain ?? ''}</textarea>
                <div class="layui-form-mid layui-word-aux">审核拒绝时，必填审核说明。商家可以查看审核说明。</div>
            </div>
        </div>

        <div class="layui-form-item layui-hide">
            <input type="button" lay-submit lay-filter="addSubmit" id="addSubmit" value="确认">
        </div>
    </div>
</div>