app_debug = false[database]type = mysqlhostname = 127.0.0.1database = multshopusername = rootpassword = roothostport = 3306charset = utf8mb4debug = trueprefix = 'ls_'[project]env_name = 多商户后台admin_name = 多商户后台file_domain = "www.multshop.localhost"ws_domain = wss://127.0.0.1