/.idea
/.vscode
*.log
.env
/runtime/*
!/runtime/index.html
/public/uploads/*
!/public/uploads/index.html
/config/install.lock
/public/upgrade/*
!/public/uploads/version.json

/.htaccess
/404.html
/index.html
/public/.user.ini

/vendor
/public/business/*
public/kefu/*
public/mobile/*
public/pc/*
public/pcseo/*
public/uploads/*