{layout name="layout2" /}
<style>
    .layui-input-block { line-height: 38px; }
</style>
<div class="layui-card" style="box-shadow:none;">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label">支付宝账号：</label>
            <div class="layui-input-block">{$detail.account}</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">认证姓名：</label>
            <div class="layui-input-block">{$detail.username}</div>
        </div>
    </div>
</div>