{layout name="layout1" /}
<style>
    .layui-form-label {
        width: 220px;
    }
</style>
<div class="wrapper">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-collapse like-layui-collapse" lay-accordion="" style="border:1px dashed #c4c4c4">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title like-layui-colla-title" style="background-color: #fff">操作提示</h2>
                    <div class="layui-colla-content layui-show">
                        <p>*汇付斗拱</p>
                    </div>
                </div>
            </div>
            <!-- 表单区域-->
            <div class="layui-form" style="margin-top: 15px;">

                <!--product_id-->
                <div class="layui-form-item">
                    <label class="layui-form-label">微信公众号：</label>
                    <div class="layui-input-block">
                        <div class="layui-col-md6">
                            <input type="text" name="oa_app_id" value="{$oa_app_id | default = ''}" lay-verType="tips" autocomplete="off" disabled class="layui-input">
                            <div class="layui-form-mid layui-word-aux">渠道 微信公众号 AppID</div>
                        </div>
                    </div>
                </div>
                <!--product_id-->
                <div class="layui-form-item">
                    <label class="layui-form-label">微信公众号支付目录：</label>
                    <div class="layui-input-block">
                        <div class="layui-col-md6">
                            <input type="text" name="aaaaa" value="<?php echo request()->domain() . '/'; ?>" lay-verType="tips" autocomplete="off" disabled class="layui-input">
                            <div class="layui-form-mid layui-word-aux">渠道 微信公众号 AppID</div>
                        </div>
                    </div>
                </div>

                <!--huifu_id-->
                <div class="layui-form-item">
                    <label class="layui-form-label">微信小程序：</label>
                    <div class="layui-input-block">
                        <div class="layui-col-md6">
                            <input type="text" name="mnp_app_id" value="{$mnp_app_id | default = ''}"  lay-verType="tips" autocomplete="off" disabled class="layui-input">
                            <div class="layui-form-mid layui-word-aux">渠道 微信小程序 AppID</div>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <lable class="layui-form-label"></lable>
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="set">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.config({
        version:"{$front_version}",
        base: '/static/lib/' //静态资源所在路径
    }).use(['form','element'], function(){
        var $ = layui.$,form = layui.form,element = layui.element;
        form.on('submit(set)', function(data) {
            like.ajax({
                url:'{:url("setting.hfdg/wechat_set")}',
                data: data.field,
                type:"post",
                success:function(res)
                {
                    if(res.code == 1)
                    {
                        layui.layer.msg(res.msg, {
                            offset: '15px'
                            , icon: 1
                            , time: 1000
                        });
                    }
                }
            });
        });

    });
</script>