{layout name="layout2" /}
<style>
    .layui-input-block { line-height: 38px; }
</style>
<div class="layui-card" style="box-shadow:none;">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label">提现银行：</label>
            <div class="layui-input-block">{$detail.name}</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">银行支行：</label>
            <div class="layui-input-block">{$detail.branch}</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">开户名称：</label>
            <div class="layui-input-block">{$detail.nickname}</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">银行账号：</label>
            <div class="layui-input-block">{$detail.account}</div>
        </div>

    </div>
</div>